@page
@model BulkyWebRazor_Temp.Pages.Categories.IndexModel

<div class="container">
    <div class="row pt-4">
        <div class="col-6">
            <h2>Category List</h2>
        </div>
        <div class="col-6">
            <a asp-page="/categories/create" class="btn btn-primary">
                <i class="bi bi-plus-circle"></i> Create New Category
            </a>
        </div>
    </div>
</div>

<table class="table table-bordered table-striped mt-3">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>DisplayOrder</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.CategoryList)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@item.DisplayOrder</td>
                <td>
                    <div class="w-75 btnbtn-group" role="group">
                        <a asp-page="/categories/edit" asp-route-id="@item.Id" class="btn btn-primary mx-2">
                            <i class="bi bi-pencil-square"></i> Edit
                        </a>
                        <a asp-page="/categories/delete" asp-route-id="@item.Id" class="btn btn-danger mx-2">
                            <i class="bi bi-trash-fill"></i> Delete
                        </a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>